html {
    overflow-x: hidden;
}
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    transition: transform 1s linear;

}
.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 200px;
    height: 200px;
    background-color: coral;
    border-radius: 50%;
    position: absolute;
    z-index: 2;
    top: -80px;
    left: -80px;
}
#close {
    margin: -70px 0px 0px -6px;
}
#menu {
    margin: -65px 0px -127px -140px;
}
.nav img {
    width: 40px;
    cursor: pointer;
}
.behind {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 0;
    background-color: rgb(80, 80, 80);
}

.icons {
    color: white;
    position: absolute;
    margin: 30px;
    bottom: 0;
    left: 0;
}

.heading {
    padding-bottom: 10px;
}
#h2 {
    padding-left: 20px;
}
#h3 {
    padding-left: 40px;
}
.maincontent {
    transform-origin: top left;
    width: 100vw;
    height: max-content;
    position: absolute;
    padding-top: 100px;
    background-color: white;
    z-index: 1;
}

.content {
    width: 80vw;
    margin: auto;
}
.content img {
    width: 80vw;
}
.content p {
    font-size: 22px;
    padding: 30px 0;
}